.ActivityPage .activity {
    display: flex;
}
.ActivityPage .activity .left-side {
    width: 25%;
    background-color: #e7e5e5;
    height: auto;
}

.ActivityPage .activity .right-side {
    width: 75%;
}


.ActivityPage .activity .left-side .advertisement {
    margin: 25px 10px 0 10px;
    align-items: center;
    z-index: 99;

}

.ActivityPage .activity .left-side .advertisement .add img{
    width:275px;
    height: 105px;
    object-fit: cover;
    border-radius: 5px;
    margin: 16px;
}

.ActivityPage .activity .right-side .options ul {
    background-color: #8c8e8f;
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin-left: 250px;
    padding: 15px 45px;
    list-style: none;
    border-radius: 5px;


}

.ActivityPage .activity .right-side .options ul li {
    font-size: 18px;
    color: #ffffff;
    font-weight: 450;
}

.ActivityPage .activity .right-side .paragraph {
    text-align: justify;
    width: 450px;
    margin: 75px 290px;
}

.ActivityPage .activity .right-side button {
    margin-left: 426px;
    width: 180px;
    height: 32px;
    background-color: #2288ff;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;

}

.ActivityPage .activity .right-side button:hover {
    background-color: rgb(29, 112, 207);
}

.ActivityPage .activity .right-side .video-player {
    margin-top: 80px;
    margin-left: 300px;
}

