.mapPage iframe {
    width: 100%;
  }
  
.mapPage .addMap {
    position: absolute;
    width: 400px;
    height: 315px;;
    /* border: 1px solid #000000; */
    border-radius: 5px;
    top: 205px;
    left: 400px;
    text-align: center;;
    background-color: rgba(22, 22, 20, 0.781);
    padding: 51px;  
}

.mapPage .addMap input[type=text], .mapPage textarea{
    width: 280px;
    height: 25px;
    padding: 6px 15px;
    border-radius: 5px;
    margin: 12px;
    border: none;
    font-family: 'Mukta', sans-serif;;
}

.mapPage .addMap label {
    color: #ffffff;
    font-weight: 400;
    padding-top: 5px;
}

.mapPage .addMap input[type=file] {
    margin-left: 6px;
    margin-top: 18px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #ffffff25;
    padding: 5px;
}

.mapPage .addMap input[type=submit] {
    margin-top: 15px;
    width: 98px;
    height: 26px;
    border-radius: 5px;
    border: none;
    background-color: #f1a32c;
}

.mapPage .addMap input[type=submit]:hover {
    background-color: #c78624;
}


