.AppointmentPage {
	display: flex;
	width: 100%;
	height: 100%;
	padding-bottom: 8rem;
	min-height: 100vh;
	position: relative;
}
.AppointmentPage.AppointmentPage form {
	margin-top: 105px;
	display: flex;
	width: 570px;
	flex-direction: column;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 4px 0 black;
	z-index: 99;
	background-color: #ffffff28;
	margin-left: 350px;
	margin-bottom: 70px;
}

.AppointmentPage form h2 {
	text-align: center;
	font-size: 1.9rem;
}

.AppointmentPage .detail:not(.AppointmentPage .choice .detail) {
	margin: 15px 25px;
	padding-top: 15px;
	z-index: 99;
	font-weight: 500;
}

.AppointmentPage input:not(.AppointmentPage .choice .radio-button input),
.AppointmentPage textarea {
	padding: 10px;
	border-radius: 5px;
	width: 11.75rem;
	max-width: 300px;
	position: absolute;
	left: 605px;
	border: 1px solid #000000;
	font-size: 14px;
	background-color: #fffffff0;
	font-family: -apple-system;
}

.AppointmentPage .choice {
	display: flex;
	flex-direction: row;
	margin: 15px 0 0 75px;
}

.AppointmentPage .choice .radio-button {
	margin: 15px 65px 15px 50px;
}

.AppointmentPage .choice label {
	margin-left: 15px;
}

.AppointmentPage .choice label.gender-label {
	margin-top: 15px;
	font-weight: 500;
}

.AppointmentPage button {
	background-color: #6d4848;
	color: aquamarine;
}

.AppointmentPage button[type="submit"] {
	margin-top: 25px;
	padding: 10px 20px;
	background-color: #df880e;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s ease;
	width: 225px;
	margin-left: 198px;
	font-size: 16px;
}

.AppointmentPage button[type="submit"]:hover {
	background-color: #c5790e;
}
