.destinationDetails {
    display: flex;
    margin-top: 72px;
}
.left-panel {
    width: 28%;
    height: auto;
    background-color: rgb(83, 87, 90);
    margin: 0;
    padding: 0;

}

.left-panel h2 {
    font-size: 2.1rem;
    margin: 0 15px;
    padding: 45px 0 0 0;
}

.left-panel ul {
    /* margin: 15px; */
}

.left-panel ul li {
    margin-bottom: 15px;
}

.destinationDetails .right-panel iframe {
}


